:root {
    --primary-color: #19474c;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


#player .icon-pause {
    display: none;
}

#player.playing .icon-play {
    display: none;
}

#player.playing .icon-pause {
    display: inline-block;
}

.btn.btn-repeat.active,
.btn.btn-random.active {
    color: red;
} 


body {
    background-color: #f5f5f5;
}


html {
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

#player {
    position : relative;
    max-width: 480px;
    margin: 0 auto;
}

.control .icon-pause {
    display: none;
}


.board {
    padding: 16px 16px 14px;
    background-color: #fff;
    position: fixed;
    top : 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
    z-index: 100;
    padding-bottom: 37px;
    border-radius: 5px;
    /* position: relative; */
}

.name_content {
    text-align: center;
    margin-bottom: 10px;
}

.name_2 {
    color: transparent;
    font-size: 17px;
    background: linear-gradient(to right, #04a82d, #3a86ff);
    -webkit-background-clip: text;
}

.name_1 {
    color: var(--primary-color);
    font-size: 15px;
}

.name_3 {
    color: rgba(red, rgb(0, 90, 128), blue, 10%);
}

.cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.cd_thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
}

.control {
    display :flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
}

.control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
    cursor: pointer;
  }



.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    cursor: pointer;
}

#current-time-song {
    background-color: #ebebeb;
    height: 6px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
    /* position: relative; */
}



.time {
    /* background-color: var(--text-color); */
    width: 100%;
    padding: 20px;
    position:absolute;
    bottom: -10px;
    display: flex;
    justify-content: space-between;
    padding-top: 0px;

}

span.current-time.colors {
    margin-left: -20px;
}

span.duration-time.colors {
    margin-right: 10px;
}


.colors {
    color: var(--primary-color);
}


.progress {
    width: 0;
    background-color : var(--primary-color);
    height: 100%;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    color: var(--text-color);
    border-radius: 10px;
    position: relative;
    background: linear-gradient(-45deg, #ff855f, #ea4081, #23a6d5, #23d5ab);
    animation: gradient 9s ease infinite;
}

#current-time-song:hover
.icon-progress::after {
    opacity: 1;
}

#current-time-song:hover {
    height: 9px;
}

.icon-progress::after {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color:rgb(49, 52, 51);
    position: absolute;
    top : -2px;
    right: -6px;
    opacity: 0;
    outline: 0.5px solid rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}



.playlist {
    margin-top: 428px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
}

.song .thumb {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-size: cover;
        margin: 0 8px;
      }


.song { 
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0,0.1);
    cursor: pointer;

}


.song.active {
    background-color: var(--text-color);
}


.song.active .title,
.song.active .anthor {
    color: #ebebebea;
}


.anthor {
    opacity: 0.5;
    font-size : 14px;
}

.title {
    color: var(--primary-color);
    font-size: 15px;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

@keyframes effect-heart {
    0% {
        transform: rotate(60deg) scale(1.7);
    }
    40% {
        transform: rotate(0deg) scale(1);
    }
    41% {
        transform: rotate(360deg) scale(1);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

.song .options {
    padding: 16px 8px;
    color: #333;
    font-size: 18px;  
}

i.fas.fa-heart {
    font-size: larger;  
    color: #ccc;
    font-weight: bold;
}

.options.like .fas.fa-heart {
    animation: effect-heart 0.4s linear;
    color: red;
}


